
<section id="detailsPage">
    <div id="detailsInfo">
        <h1>Name: {{name}}</h1>
        <div class="info"><img src="{{image}}"></div>

        <div class="info">
            <h3>Type: {{type}}</h3>
            <h3>Year of Production: {{production}} </h3>
            <h3>Years of Exploitation: {{exploitation}}</h3>
            <h3>Damages:  {{damage}}</h3>
            <h3>Description: {{description}}</h3>
            <h2>Price: ${{price}}</h2>
        </div>

        <div class="buttons">
            {{#if isAuthenticated}}
                {{#if isOwner}}
                    <a href="/el/{{_id}}/edit" class="edit-btn">Edit</a>
                    <a href="/el/{{_id}}/delete" class="delete-btn">Delete</a>
                {{else}}
                    {{#if isBought}}
                        <p><span class="buy">Thank You For Your Purchase</span></p>
                    {{else}}
                        <a href="/el/{{_id}}/buy" class="buy-btn">Buy</a>
                    {{/if}}
                 {{/if}}
             {{/if}}     
        </div>
    </div>
</section>